name: Fineract Cargo & Unit- & Integration tests - Sequential Execution - PostgreSQL

on:
  workflow_dispatch:
  push:
    branches:
      - develop
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 180

    services:
      postgresql:
        image: postgres:17.4
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: postgres
        options: --health-cmd="pg_isready -q -d postgres -U root" --health-interval=5s --health-timeout=2s --health-retries=3
      mock-oauth2-server:
        image: ghcr.io/navikt/mock-oauth2-server:2.1.10
        ports:
          - 9000:9000
        env:
          SERVER_PORT: 9000
          JSON_CONFIG: '{ "interactiveLogin": true, "httpServer": "NettyWrapper", "tokenCallbacks": [ { "issuerId": "auth/realms/fineract", "tokenExpiry": 120, "requestMappings": [{ "requestParam": "scope", "match": "fineract", "claims": { "sub": "mifos", "scope": [ "test" ] } } ] } ] }'
    env:
      TZ: Asia/Kolkata
      DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Set up JDK 21
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          java-version: '21'
          distribution: 'zulu'
      - name: Setup Gradle and Validate Wrapper
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          validate-wrappers: true
      - name: Verify PostgreSQL connection
        run: |
          while ! pg_isready -d postgres -U root -h 127.0.0.1 -p 5432 ; do
              sleep 1
          done
      - name: Initialise databases
        run: |
          ./gradlew --no-daemon -q createPGDB -PdbName=fineract_tenants
          ./gradlew --no-daemon -q createPGDB -PdbName=fineract_default

      - name: Start LocalStack
        env:
          AWS_ENDPOINT_URL: http://localhost:4566
          AWS_ACCESS_KEY_ID: localstack
          AWS_SECRET_ACCESS_KEY: localstack
          AWS_REGION: us-east-1
        run: |
          docker run -d --name localstack -p 4566:4566 -p 4510-4559:4510-4559 localstack/localstack:2.1
          sleep 10
          docker exec localstack awslocal s3api create-bucket --bucket fineract-reports
          echo "LocalStack initialization complete"
      - name: Build & Test
        env:
          AWS_ENDPOINT_URL: http://localhost:4566
          AWS_ACCESS_KEY_ID: localstack
          AWS_SECRET_ACCESS_KEY: localstack
          AWS_REGION: us-east-1
          FINERACT_REPORT_EXPORT_S3_ENABLED: true
          FINERACT_REPORT_EXPORT_S3_BUCKET_NAME: fineract-reports
        run: |
          ./gradlew --no-daemon --console=plain build -x cucumber -x test -x doc
          ./gradlew --no-daemon --console=plain cucumber -x :fineract-e2e-tests-runner:cucumber
          ./gradlew --no-daemon --console=plain test -x :twofactor-tests:test -x :oauth2-test:test -x :fineract-e2e-tests-runner:test -PdbType=postgresql
          ./gradlew --no-daemon --console=plain :twofactor-tests:test -PdbType=postgresql
          ./gradlew --no-daemon --console=plain :oauth2-tests:test -PdbType=postgresql
      - name: Archive test results
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4
        with:
          name: test-results
          retention-days: 5
          path: |
            build/reports/
            integration-tests/build/reports/
            twofactor-tests/build/reports/
            oauth2-tests/build/reports/
      - name: Archive server logs
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4
        with:
          name: server-logs
          retention-days: 5
          path: |
            integration-tests/build/cargo/
            twofactor-tests/build/cargo/
            oauth2-tests/build/cargo/
